{% extends 'base.html' %}
{% load static %}


{% block title %}Posts{% endblock title %}


{% block content %}
<h1>Posts</h1>
{% for post in post_list %}
    <div class="card">
        <h5 class="card-header">{{ post.title }}</h5>
        <div class="card-body">
        <h5 class="card-title">{{ post.subtitle }}</h5>
        <p class="card-text">{{ post.body|truncatechars:128 }}</p>
        <a href="{% url 'detail' post.id %}" class="btn btn-primary">Read More</a>
        </div>
    </div>
    <br />
{% endfor %}
{% endblock content %}